/* Write your CSS here */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Para {
  text-align: center;
  align-self: center;
  color: #2d3a35;
  font-family: 'Roboto';
}
.count {
  color: #c20a72;
}
.para1 {
  color: #2d3a35;
}

.btn {
  background-color: #007bff;
  color: #ffffff;
}
